<div class="container">
    <h2 class="text-center">Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="h5">Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
            <button class="btn btn-danger float-right" (click)="onBack()">Back</button>
        </div>
    </form>
</div>
<div class="container">
    <div *ngIf="getOTP">
        <form [formGroup]="checkOTPForm" (ngSubmit)="onCheckOTP()" [ngClass]="{ 'd-none':checkOTP }">
            <div class="form-group">
                <label class="h5">One Time Password</label>
                <input type="password" formControlName="OTP" class="form-control"
                    placeholder="Enter New OTP"
                    [ngClass]="{ 'is-invalid': submittedOTP && h.OTP.errors }" />
                <div *ngIf="submittedOTP && h.OTP.errors" class="invalid-feedback">
                    <div *ngIf="h.OTP.errors.required">Password is required</div>
                    <div *ngIf="h.OTP.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" >Check OTP</button>
            </div>
        </form>

        <div *ngIf="checkOTP">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onReset()">
                <div class="form-group">
                    <label class="h5">Enter New Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitteedNewPassword && g.password.errors }"
                        placeholder="Enter New Password" />
                    <div *ngIf="submitteedNewPassword && g.password.errors" class="invalid-feedback">
                        <div *ngIf="g.password.errors.required">Password is required</div>
                        <div *ngIf="g.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-success">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>